{% extends "core/base.html" %}

{% block content %}
<div class="fitflix-form-container">
    <div class="fitflix-card">
        <h1 class="fitflix-title">Avaliações</h1>

        <div class="form-group">
            <a href="{% url 'core:criar_avaliacao' %}" class="btn">Nova Avaliação</a>
        </div>

        {% if avaliacoes %}
            {% for avaliacao in avaliacoes %}
                <div class="form-group">
                    <h3>{{ avaliacao.nome }}</h3>
                    <p>{{ avaliacao.criado_em|date:"d/m/Y" }}</p>
                    <a href="{% url 'core:detalhe_avaliacao' avaliacao.id %}" class="btn">Visualizar</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="form-group">
                <p>Você ainda não possui avaliações.</p>
                <a href="{% url 'core:criar_avaliacao' %}" class="btn">Criar primeira avaliação</a>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
