{% extends 'core/base.html' %}
{% load static %}

{% block title %}Criar novo Exercício{% endblock %}

{% block content %}


<div class="fitflix-form-container">
    <div class="fitflix-card">

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="form-group">
                <label>Nome do Exercício</label>
                <input type="text" name="nome" placeholder="Ex: Supino Reto" required>
            </div>

            <div class="form-group">
                <label>Grupo Muscular</label>
                <select name="grupo_muscular" required>
                    <option value="">Selecione...</option>
                    {% for grupo in grupos %}
                        <option value="{{ grupo.id }}">{{ grupo.nome }}</option>
                    {% endfor %}
                </select>
                </div>

            <div class="form-group">
                <label>Imagem</label>
                <input type="file" name="imagem">
            </div>

            <div class="form-group">
                <label>GIF</label>
                <input type="file" name="gif">
            </div>

            <button type="submit" class="btn-novo">
                Salvar Exercício
            </button>

        </form>

    </div>
</div>

{% endblock %}