{% extends 'core/base.html' %}

{% block content %}

<h2>Nova avaliação - Idoso</h2>

<form method="post">
    {% csrf_token %}

    <!--DADOS PESSOAIS-->
    <div class="card">
        <h3>DADOS PESSOAIS</h3>
        {{ avaliacao_form.nome.label_tag }}
        {{ avaliacao_form.nome }}

        {{ avaliacao_form.sexo.label_tag }}
        {{ avaliacao_form.sexo }}

        {{ avaliacao_form.data_nascimento.label_tag }}
        {{ avaliacao_form.data_nascimento }}

        {{ avaliacao_form.altura.label_tag }}
        {{ avaliacao_form.altura }}

        {{ avaliacao_form.peso.label_tag }}
        {{ avaliacao_form.peso }}

        <h5 class="mt-4">Circunferências</h5>

        <div class="row">
            <div class="col-md-6">
                <label>Panturrilha direita (cm)</label>
                {{ circ_form.panturrilha_direita }}
            </div>

            <div class="col-md-6">
                <label>Panturrilha esquerda (cm)</label>
                {{ circ_form.panturrilha_esquerda }}
            </div>
        </div>

   



    
    <div class="card">
        
        <h3>Testes funcionais</h3>
        
        {{ form.as_p }}
        
    </div>
        <button type="submit">Salvar</button>
</form>

{% endblock %}