{% extends 'core/base.html' %}

{% block content %}

<div class="fitflix-header-page">
    <h2>{{ treino.nome }}</h2>
    <p><strong>Gerenciar os exercicios do treino</strong></p>
</div>

<div class="card-treino-editor">

    <div class="treino-info">
        <h2>{{ treino.nome }}</h2>
        <p><strong>Aluno:</strong> {{ treino.aluno.nome }}</p>
    </div>

    <hr>

    <div class="exercicios-lista">
        <h3>Exercicios</h3>

        {% if exercicios %}
        <ul>
            {% for ex in exercicios %}
            <li>
                <p>{{ ex.exercicio.nome }}</p>
                <p>GIF: {{ ex.variacao.gif }}</p>

                {% if ex.exercicio.gif %}
                <img src="{{ ex.exercicio.gif.url }}" width="200">
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Nenhum exercicio adicionado ainda</p>
        {% endif %}
    </div>

    <hr>

    <div class="acoes">
        <a href="{% url 'core:adicionar_exercicio' treino.id %}" class="btn">Adicionar exercicio</a>
        <a href="{% url 'core:home' %}" class="btn">Voltar</a>
    </div>

</div>

{% endblock %}