{% extends 'core/base.html' %}

{% block content %}
<div class="fitflix-form-container">
    <div class="fitflix-card">
        <h1 class="fitflix-title">Nova Avaliação</h1>

        <div class="form-group">
            <h3>Adulto</h3>
            <p>Avaliação completa.</p>
            <a href="{% url 'core:criar_avaliacao' %}" class="btn">Acessar</a>
        </div>

        <div class="form-group">
            <h3>Idoso</h3>
            <p>Testes funcionais.</p>
            <a href="{% url 'core:criar_avaliacao_idoso' %}" class="btn">Acessar</a>
        </div>

        <div class="form-group">
            <h3>Criança</h3>
            <p>Avaliação infantil.</p>
            <a href="{% url 'core:criar_avaliacao_crianca' %}" class="btn">Acessar</a>
        </div>
    </div>
</div>
{% endblock %}
