{% extends "core/base.html" %}
{% load static %}

{% block content %}

<section class="container" style="max-width: 400px; margin-top: 80px;">
    <h2>Entrar</h2>

    <form method="POST">
        {% csrf_token %}

        <div>
            <label>Email</label>
            <input type="email" name="email" required>
        </div>
        
        <br>
        <div>
            <label>SENHA</label><br>
            <input type="password" name="password" required>
        </div>
        
        <br>

        <button type="submit" class="btn btn-primary">
            Entrar            
        </button>
    </form>

    <p style="margin-top: 15px; text-align: center;">
        <a href="{% url 'core:password_reset' %}">
            Esqueci minha senha
        </a>
    </p>
</section>
{% endblock %}

        