{% extends "core/base.html"}

{% load static %}

{% block content %}


<section class="container" style="max-width: 400px; margin-top: 80px;">
    <h2>Criar conta</h2>


    <form method="POST">
        {% if messages %}
            {% for message in messages %}
                <p style="color: red;">{{ message }}</p>
                {% endfor %}

            {% endif %}
      
      
        {% csrf_token %}
      
        <div>
            <label>Usuário</label><br>
            <input type="text" name="username" required>
        </div>

        <br>

        <div>
            <label>Senha</label><br>
            <input type="password" name="password" required>
        </div>

        <br>
        <button type="submit" class="btn btn-primary">
            Criar conta
        </button> 

    </form>
</section>

{% endblock %}