<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Treino</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/fitflix.css' %}">
</head>

<body>

<h1>{{ treino.nome }}</h1>

<div class="fitflix">
    

        {% for item in itens %}

        <div class="treino-container">

        <div class="treino-img">
            <img src="{{ item.variacao.gif.url }}" />
            </div>


        <div class="treino-info">
            <h3>{{ item.exercicio.nome }}</h3>
            <p>{{ item.variacao.nome }}</p>

            <ul>
                <li><strong>Séries:</strong> {{ item.series }}</li>
                <li><strong>Repetições:</strong> {{ item.repeticoes }}</li>
                <li><strong>Descanso:</strong> {{ item.descanso }}</li>
                <li><strong>Carga:</strong> {{ item.carga }}</li>

            </ul>
        </div>
           
    </div>
        {% endfor %}

    </div>
</div>

</body>
</html>