{% extends 'core/base_publica.html' %}

{% block content %}

{% if treino.exercicios.exists %}
    <ul>
        {% for item in treino.exercicios.all|dictsort:"ordem" %}
            <li>
                <strong>{{ item.exercicio.nome }}</strong><br>
                Série: {{ item.series }} |
                Reps: {{ item.repeticoes }} |
                Descanso: {{ item.descanso }}s
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum exercício cadastrado.</p>

{% endif %}

{% endblock }
